.wrapperGrey {
  background: url(../../img/bg_grey.png);
  width: 105%;
  height: 140%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  background-position: 0 0;
  animation: animatedBackground 1500s linear infinite;
}

/* @keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px -10000px;
  }
} */

/* .wrapperGrey {
  background: url(../../img/bg_grey.png);
  background-repeat: repeat;
  width: 100%;
  display: flex;
  justify-content: center;
} */

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(0.95);
}

/* .homeContent {
  display: block;
  width: 80%;
  background-color: grey;
  padding: 20px;
  margin-top: 150px;
  height: 800px;
} */

.entrybox-task {
  display: block;
  width: 80%;
  height: 80px;
  background: #58afff;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-journal {
  display: block;
  width: 80%;
  height: 80px;
  background: #801ae5;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-link {
  display: block;
  width: 80%;
  height: 80px;
  background: #ff4c50;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-photo {
  display: block;
  width: 80%;
  height: 80px;
  background: #ff7e4c;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
  
 