* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
  }



.logo {
margin: 25px;
margin-bottom: 35px;
  }
  
  :root {
    --shadowDark: #D9DDE6;
    --background: #E4E9F2;
    --shadowLight: #EFF5FE;
  }
  
  body {
    
  }

  .wrapperYellow {
    background: url(../img/bg_yellow.png);
    width: 100%;
    height: 100%
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-position: 0 0;
    animation: animatedBackground 500s linear infinite;
  }

  .wrapperGrey {
    background: url(../img/bg_grey.png);
    width: 100%;
    height: 100%
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-position: 0 0;
    animation: animatedBackground 500s linear infinite;
  }
  
  .hero-body {
    justify-content: center;
  }
  
  .login {
    border-radius: 25px;
    padding: 1.5rem;
    background-color: azure;
    width: 400px;
  }
  
  input {
    background: var(--shadowDark) !important;
  }
  
  a {
    font-weight: 600;
  }

  .form-heading {
    height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
    margin-bottom:10px;
  }


  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px -10000px;
    }
  }
