* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
  }

  /* LOGO CUSTOMIZATIONS */
.logo {
margin: 25px;
margin-bottom: 35px;
  }
  
  :root {
    --shadowDark: #D9DDE6;
    --background: #E4E9F2;
    --shadowLight: #EFF5FE;
  }
  
  body {
    
  }

  /* BACKGROUND COLOR: YELLOW */
  .wrapperYellow {
    background: url(../img/bg_yellow.png);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-position: 0 0;
  }

  /* BACKGROUND COLOR: GREY */
  .wrapperGrey {
    background: url(../img/bg_grey.png);
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* BACKGROUND COLOR: BLUE */
  .wrapperBlue {
    background: url(../img/bg_blue.png);
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  

    /* Home page content*/
  .containerHome {
    width: 80%;
    background-color: transparent;
    height: 70%;
    border-radius: 25px;
    padding: 20px;
  }
  

    /* Navigation Menu : Bottom */
.menuBottom {
  position: fixed;
  bottom: 0;
  width: 400px;
  margin:0 auto;
  padding: 20px;
  background-color: #1a1a1ad2;
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
  z-index: 100;
}


  /* Fixed Menu at the Top */
.menuTop {
  position: fixed;
  top: 0;
  width: 400px;
  margin:0 auto;
  padding: 20px;
  background-color: #1a1a1ad2;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
  z-index: 100;
}

/* CONTENT CONTAINER HOME PAGE */
.homeContent {
  display: block;
  width: 80%;
  padding: 20px;
  margin-top: 120px;
  height: 800px;
}

/* TEXT FORMATTING FOR ENTRIES */
.entryTitle {
  font-size: 24px;
  margin-left: 20px;
}



/* ENTRYBOX CLASSES : COLORS */
.entrybox-task {
  display: block;
  width: 80%;
  height: 80px;
  background: #58afff;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-journal {
  display: block;
  width: 80%;
  height: 80px;
  background: #801ae5;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-link {
  display: block;
  width: 80%;
  height: 80px;
  background: #ff4c50;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entrybox-photo {
  display: block;
  width: 80%;
  height: 80px;
  background: #ff7e4c;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* LOGIN FORMATTING */

  .login {
    border-radius: 25px;
    padding: 1.5rem;
    background-color: azure;
  }
  
  input {
    background: var(--shadowDark) !important;
  }
  
  a {
    font-weight: 600;
  }

  .form-heading {
    height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
    margin-bottom:10px;
  }

