* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
  }

  /* LOGO CUSTOMIZATIONS */
.logo {
margin: 25px;
margin-bottom: 35px;
  }

  .fas {
    margin-right: 5px;
  }

.folderTitle {
  display: block;
  font-size: 16pt;
  font-weight: bolder;
  width: 100%;
}

.delete {
  position: absolute;
  margin-left: 20%;
}

  .dateCreated {
    color: #747474;
    font-style: italic;
    font-size: 11pt;
  }


  .rightAlign {
    position: absolute;
    right: 0px;
  }
  
  :root {
    --shadowDark: #D9DDE6;
    --background: #E4E9F2;
    --shadowLight: #EFF5FE;
  }

  .navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
.folderName {
  margin-left: 50px;
  font-size: 28px;
  font-weight: bolder;
}


.navbar-end {
}

  /* BACKGROUND COLOR: YELLOW */
  .wrapperYellow {
    min-height: 100vh;
    width: 100%;
    background: url(../img/bg_yellow.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
  }

  /* BACKGROUND COLOR: GREY */
  .wrapperGrey {
    background: url(../img/bg_grey.png);
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* BACKGROUND COLOR: BLUE */
  .wrapperBlue {
    background: url(../img/bg_blue.png);
    background-repeat: repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  

    /* Home page content*/
  .containerHome {
    width: 80%;
    background-color: transparent;

    border-radius: 25px;
    padding: 20px;
  }
  

    /* Navigation Menu : Bottom */
.menuBottom {
  position: fixed;
  bottom: 0;
  width: 400px;
  margin:0 auto;
  padding: 20px;
  background-color: #1a1a1ad2;
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
  z-index: 100;
}


  /* Fixed Menu at the Top */
.menuTop {
  position: fixed;
  top: 0;
  width: 400px;
  margin:0 auto;
  padding: 20px;
  background-color: #1a1a1ad2;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
  z-index: 100;
}

/* CONTENT CONTAINER HOME PAGE */
.homeContent {
  display: block;
  width: 80%;
  padding: 20px;
  margin-top: 120px;
}


.folderContent {
  width: 800px;
  padding: 20px;
  margin-top: 80px;
}

/* TEXT FORMATTING FOR ENTRIES */
.entryTitle {
  font-size: 24px;
  padding-top: 40%;
}



/* ENTRYBOX CLASSES : COLORS */
.entrybox {
  display: block;
  width: 80%;
  height: 80px;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.entrybox-folder {
  background: #ececec;
}

.entrybox-task {
  background: #58afff;
}

.entrybox-journal {
  background: #801ae5;
}

.entrybox-link {
  background: #ff4c50;
}

.entrybox-photo {
  background: #ff7e4c;
}

/* LOGIN FORMATTING */

  .login {
    border-radius: 25px;
    padding: 1.5rem;
    background-color: azure;
  }
  
  input {
    background: var(--shadowDark) !important;
  }
  
  a {
    font-weight: 600;
  }

  .form-heading {
    height: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
    margin-bottom:10px;
  }

